@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?9870fd9f1f1cc201ce2afbbccb609a81") format("truetype"),
url("./flaticon.woff?9870fd9f1f1cc201ce2afbbccb609a81") format("woff"),
url("./flaticon.woff2?9870fd9f1f1cc201ce2afbbccb609a81") format("woff2"),
url("./flaticon.eot?9870fd9f1f1cc201ce2afbbccb609a81#iefix") format("embedded-opentype"),
url("./flaticon.svg?9870fd9f1f1cc201ce2afbbccb609a81#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-facebook-circular-logo:before {
    content: "\f101";
}
.flaticon-facebook:before {
    content: "\f102";
}
.flaticon-instagram-1:before {
    content: "\f103";
}
.flaticon-instagram:before {
    content: "\f104";
}
.flaticon-linkedin-1:before {
    content: "\f105";
}
.flaticon-linkedin:before {
    content: "\f106";
}
.flaticon-twitter-1:before {
    content: "\f107";
}
.flaticon-twitter:before {
    content: "\f108";
}
