.primary-color {
  color: red;
}

.secondary-color {
  color: #00ffea;
}

.tools-color {
  color: green;
}

.grey-color5 {
  color: hsb(53, 0, 95);
}

.grey-color25 {
  color: hsb(53, 0, 75);
}

.grey-color50 {
  color: hsb(53, 0, 50);
}

.grey-color75 {
  color: hsb(53, 0, 25);
}

.primary-bg {
  color: red;
}

.secondary-bg {
  color: #00ffea;
}

.tools-bg {
  color: green;
}

.grey-bg5 {
  color: hsb(53, 0, 95);
}

.grey-bg25 {
  color: hsb(53, 0, 75);
}

.grey-bg50 {
  color: hsb(53, 0, 50);
}

.grey-bg75 {
  color: hsb(53, 0, 25);
}

/*# sourceMappingURL=app.css.map */
